.root { 
    /*-fx-accent: white;*/
    -fx-focus-color: -fx-accent;
    -fx-background-color: #02030A;
    -fx-control-inner-background: #d7d6d6;
    -fx-control-inner-background-alt: -fx-control-inner-background ;
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.label {
    -fx-text-fill:#FF5733;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.labelGenero {
    -fx-text-fill:#FF5733;
    -fx-font-size: 25px;
}

.question {
    -fx-text-fill:#FF5733;
    -fx-font-size: 18px;
}

.hyperlink {
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
}

.CustomTextField {
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-min-height:30;
    -fx-min-width:350;
}

.text-field {
    -fx-prompt-text-fill: #a4a4a4;
}

.titulo {
    -fx-font-weight: bold;
    -fx-font-size: 35px;
} 

.button {
    -fx-focus-traversable: false;
    -fx-background-color: #FF5733;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.background {
    -fx-background-color: black;
}

.button:hover {
    -fx-text-fill: white;
    -fx-background-color: #2d3439;
}

.cards {
     -fx-background-color: #000000;
}

.buttonCadastro {
    -fx-focus-traversable: false;
    -fx-background-color: #000000;
    -fx-text-fill: white;
}

.buttonCadastro:hover {
    -fx-text-fill: white;
    -fx-background-color: #2d3439;
    -fx-pref-width: 20px;
    -fx-pref-height: 5px;
}

.separator *.line { 
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar {
    -fx-background-color: derive(-fx-base,45%)
}

.button:default {
    -fx-base: -fx-accent ;
} 

.table-view {
    -fx-selection-bar-non-focused: derive(-fx-base, 50%);
    -fx-background-color:#373e43;
}

.table-view .column-header .label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-background-color: #3C3C3C;
    -fx-font-size: 15px;
    -fx-background-insets: 0 0 0 0;
    -fx-border-color: white;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}


.table-row-cell:even,
.table-row-cell:odd {
    
    -fx-control-inner-background: derive(-fx-base, 15%);
}


.list-cell:even,
.list-cell:odd
 {
    -fx-background-color: black;
    -fx-control-inner-background: derive(-fx-base, 15%);
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.list-cell,
.table-row-cell {
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
    -fx-font-size: 15px;
}

.list-view {
    -fx-background-color: black;
}

.scroll-pane .viewport {
   -fx-background-color:transparent;
}